@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html{
    font-size: 15px;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #eff0fa !important;
}

:root{
    --dark-blue: #3e5fce;
    --hover-blue: #5e81f4;
    --light-blue: rgb(94 129 244 / 16%);
}

/* Common Properties */

.display-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-bet{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.display-grid{
    display: grid;
    place-items: center;
}

.calculator{
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
}

/* Header Starts */

.header{
    background-color: #fff;
    z-index: 999;
    min-height: 55px;
    width: 100%;
    padding: 0 1.5rem;
    box-shadow: 0px 2px 5px rgba(127, 137, 161, 0.1);
    /* margin-bottom: 1rem; */
    position: sticky;
    top: 0;
}

.logo img{
   width: 7rem;
}

.header .menu ul li{
    list-style: none;
}

.header .menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
    transition: 0.2s;
}

.header .menu ul li a:hover{
    color: var(--dark-blue);
}

.header .menu .menu-ul li{
    margin-left: 3rem;
}

.header .menu .menu-ul .dropdown-li a i{
    color: black;
    font-size: 14px;
    margin-right: 5px;
    transition: 0.2s;
}

.header .menu .menu-ul .dropdown-li a:hover i{
    color: var(--dark-blue);
}

.dropdown-li{
    position: relative;
}

.dropdown-ul{
    position: absolute;
    top: calc(100% + 1.5rem);
    left: -2.5rem;
    width: 10rem;
    padding: 0.8rem 1rem;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    z-index: 999;
}

.dropdown-li:hover .dropdown-ul{
    visibility: visible !important;
    opacity: 1 !important;
    margin-top: -1rem;
}

.dropdown-ul li{
    margin-left: 0 !important;  
}

.dropdown-ul li a{
    display: block;
    width: 100%;
    padding: 5px 8px;
}
/* end */


/* About Page */
.about, .contact{
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    width: 90%;
    margin: 0 auto;
}

.about h1, .contact h1{
    color: var(--dark-blue);
    text-transform: uppercase;
    font-size: 1.8rem;
}

.about p, .contact .text{
    color: #333333;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.3px;
    text-align: justify;
    margin-top: 0.8rem;
}

.about h2{
    color: var(--dark-blue);
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 1.2rem;
}

.about button{
    margin: 0 auto;
    display: block;
    margin-top: 1.5rem;
}
/* end */

/* Contact Page */

.contact .text {
    margin-bottom: 1rem;
}

.contact a{
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    letter-spacing: 0.3px;
}

.contact a i{
    width: 1rem;
    text-align: center;
    margin-right: 0.8rem;
    color: var(--dark-blue);
    transition: 0.2s;
    font-size: 17px;
}

.contact a i:hover{
    color: var(--hover-blue);
}

ul, h1{
    margin-bottom: 0 !important;
}
/* end */

/* Back to top button starts here */

.backToTop{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 1rem;
}

.backToTop i{
    margin-left: 7px;
}
/* end */

/* Footer Starts */

footer{
    width: 100%;
}

.footer-txt{
    background-color: var(--hover-blue);
    padding: 2.5rem 0;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.footer-txt p{
    margin-bottom: 0;
}

.fix-footer{
    width: 100%;
}

.fix-footerabout{
    position: fixed;
    bottom: 0;
    width: 1150px;
}
/* Footer end */

#gotodetail{
    display: none;
}

.about-page, .contact-page{
    width: 100%;
    height: 100vh;
    padding-bottom: 11rem;
    overflow: auto;
}

.menu-button{
    display: none;
    position: relative;
    z-index: 1000;
}

.menu-button i{
    color: var(--dark-blue);
    font-size: 20px;
}

.menu-button i.bar{
    display: none;
}

.menu-button i.close{
    display: none;
}

.default-btn {
    border: 0;
    height: 38px;
    padding: 0 20px;
    transition: 0.2s;
    background-color: var(--dark-blue);
    font-size: 16px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 25px;
    cursor: pointer;
}

.default-btn:hover{
    background-color: var(--hover-blue);
}


/* Content starts */
.content-container{
    width: 1150px;
    margin: 0 auto;
    background-color: #f5f5fa;
    box-shadow: 5px 5px 25px rgba(128, 128, 128, 0.1);
}

.ad-box1{
    width: calc((100% - 1150px)/2);
    padding: 1rem;
}

.ad-box2{
    width: calc((100% - 1150px)/2);
    padding: 1rem;
}

.main-heading{
    font-size: 20px;
    color: #333333;
    padding: 1rem;
    padding-left: 0;
    margin-bottom: 0;
}

.tab{
    background-color: #f5f5fa;
}

.tab ul li{
    list-style: none;
}

li.home-loan, li.home-loan a{
    border-top-left-radius: 8px;
}

li.car-loan, li.car-loan a{
    border-top-right-radius: 8px;
}

.tab ul li a{
    text-decoration: none;
    color: #333333;
    display: inline-block;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--light-blue);
    border: 1px solid var(--hover-blue);
    border-bottom: 0;
}

.active-tab{
    background-color: var(--dark-blue) !important;
    color: #fff !important;
    border-color: var(--dark-blue) !important;
}

.emi-cal{
    background-color: #f5f5fa;
    padding-top: 1rem;
    width: 100%;
    border: 1px solid var(--hover-blue);
}

.emi-item{
    margin: 1rem 0;
    padding: 0 2rem;
}

.emi-item .heading{
    width: 100%;
}

.emi-item .heading > span{
    display: inline-block;
    color: #333333;
    font-size: 16px;
    text-align: right;
    width: 32%;
}

.input-div{
    width: 68%;
    border: 1px solid var(--hover-blue);
}

.input-div input{
    width: calc(100% - 3.5rem);
}

.input-div span{
    width: 3.5rem;
    background-color: var(--light-blue);
    border-left: 1px solid var(--hover-blue);
}

input{
    border: 0;
    padding: 7.5px;
}

input:focus{
    outline: 0;
}

.slider {
    width: 100%;
    height: 10px;
    margin-top: 1.3rem;
    position: relative;
    z-index: 1;
    accent-color: var(--light-blue);
}

.step-amount{
    position: relative;
    top: -12px;
}

.tick{
    text-align: center;
}

.tick{
    color: #ccc;
    line-height: 13px;
    font-size: 11px;
}

.tick span{
    color: #333333;
    font-size: 12px;
} 

.text-right{
    text-align: right;
}

.tick.text-right span{
    position: relative;
    left: 8px;
}


.heading .right-input{
    width: 61%;
}

.sign{
    font-size: 19px;
    font-weight: 600;
}

.inputw2span input {
    width: calc(100% - 7rem);
}

.inputw2span span a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 8px;
    transition: 0.2s;
}

.inputw2span span a:hover{
    background-color: #9db2f5;
    color: #fff;
}

.active-tenure-pr{
    background-color: var(--hover-blue);
    color: #fff;
}

.result{
    width: 100%;
    border-top: 1px solid var(--hover-blue);
}

.left-totalcal {
    width: 50%;
    border-right: 1px solid var(--hover-blue);
}

.left-totalcal .item{
    text-align: center;
    padding: 0.9rem 0;
}

.left-totalcal .item p{
    margin-bottom: 0px;
    font-size: 16px;
    color: #333333;
    line-height: 20px;
}

.left-totalcal .item span{
    color: #000;
    font-weight: 600;
    font-size: 25px;
}

.left-totalcal .border-bt{
    border-bottom: 1px dashed var(--hover-blue);
}

/* Pie chart css */

.right-chart{
    width: 50%;
    padding-top: 5px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-credits{
    display: none !important;
}

.highcharts-figure{
    margin-bottom: 0 !important;
}

.highcharts-container{
    width: 398px !important;
    height: 270px !important;
}

.highcharts-background{
    fill: #f5f5fa !important;
}

.highcharts-legend {
    border: 1px solid var(--hover-blue) !important;
}

/* pie chart end */

.about, .contact {
    margin-top: 2rem;
}

/* Media Query Starts */
@media only screen and (max-width:1500px){
    .content-container {
        width: 950px;
    }

    .ad-box1, .ad-box2 {
        width: calc((100% - 950px)/2);
    }

    .fix-footerabout {
        width: 950px;
    }
}

@media only screen and (max-width:1300px){
    .fix-footerabout {
        width: 835px;
    }

    .content-container {
        width: 835px;
    }

    .ad-box1, .ad-box2 {
        width: calc((100% - 835px)/2);
    }
}

@media only screen and (max-width:1000px){
    .fix-footerabout {
        width: 100%;
    }

    .slider .range{
        width: 88px !important;
    }

    .slider .thumb{
        left: 88px !important;
    }

    .content-container {
        width: 100%;
    }

    .ad-box1, .ad-box2 {
        display: none;    
    }

    .footer-txt {
        padding: 2rem 0;
    }

    .about-page, .contact-page{
        padding-bottom: 9rem;
    }

}

@media only screen and (max-width:700px){
    .emi-item .heading > span {
        width: 35%;
    }
}

@media only screen and (max-width:640px){
    .heading .right-input {
        width: 56%;
    }

    .emi-item .heading > span {
        width: 39%;
    }

    .input-div {
        width: 71%;
    }
}

@media only screen and (max-width:580px){
    .tab ul{
        justify-content: center;
    }

    .emi-item .heading > span {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }

    .heading .right-input, .input-div {
        width: 100%;
    }

    .left-totalcal, .right-chart {
        width: 100%;
        border-right: 0;
    }

    .left-totalcal .border-bt3 {
        border-bottom: 1px solid var(--hover-blue);
    }

    .emi-cal .mb-5{
        margin-bottom: 1.5rem !important;
    }
}

@media only screen and (max-width:425px){
    html{
        font-size: 14px;
    }

    .main-heading {
        font-size: 18px;
        padding: 0.8rem 0;
    }

    .tab ul li a {
        padding: 10px;
        font-size: 15px;
    }

    .emi-item .heading > span {
        font-size: 15px;
        margin-bottom: 3px;
    }

    input {
        border: 0;
        padding: 6px 7.5px;
    }

    .slider {
        margin-top: 1rem;
    }

    .tick span {
        font-size: 10px;
    }

    .left-totalcal .item p {
        font-size: 15px;
        line-height: 18px;
    }

    .left-totalcal .item span {
        font-size: 22px;
    }

    .about p, .contact .text {
        color: #333333;
        font-size: 15px;
    }

    .contact a{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .menu{
        display: none;
    }

    .logo{
        position: relative;
        z-index: 1000;
    }

    .active-menu .menu{
        position: absolute;
        inset: 0;
        background-color: #fff;
        top: 0;
        left: 0;
        height: 100vh !important;
        z-index: 999;
        display: flex;
    }

    .active-menu .menu .menu-ul{
        flex-direction: column;
        margin-top: 4rem;
        border-top: 1px solid var(--dark-blue);
        width: 100%;
    }

    .active-menu .menu .menu-ul > li{
        margin: 0;
        border-bottom: 1px solid var(--light-blue);
    }

    .active-menu .menu .menu-ul > li > a{
        font-size: 17px !important;
        display: block;
        padding: 10px 0 10px 1.6rem !important;
    }

    .menu-button{
        display: block;
    }

    .menu-button i.bar{
        display: block;
    }

    .active-menu .menu-button i.bar{
        display: none;
    }

    .active-menu .menu-button i.close{
        display: block;
    }

    .active-menu .menu .menu-ul .dropdown-li > a > i{
       display: none;
    }

    .dropdown-ul {
        width: 100%;
        position: initial;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
        padding: 0;
    }

    .dropdown-ul li{
        text-align: left !important;
        border-top: 1px solid var(--light-blue);
    }

    .dropdown-ul li a {
        padding: 10px 0 10px 2.5rem !important;
        font-size: 16px !important;
    }

    .dropdown-li:hover .dropdown-ul{
        margin-top: 0;
    }
    
    .footer-txt{
        font-size: 13px;
    }

    .hideScrolllbar{
        overflow: hidden !important;
    }
}

@media only screen and (max-width:320px){
    .tab ul li a {
        padding: 8px 5px;
        font-size: 13px;
    }
}

/* Imported Media Query */

@media only screen and (max-width:1580px){
    .button {
        width: 20%;
    }
}

@media only screen and (max-width:1450px){
    .about-page, .contact-page{
        width: 100%;
    }
}

@media only screen and (max-width:1250px){
    .header .menu .menu-ul li {
        margin-left: 2rem;
    }
    
    .dropdown-ul {
        left: -1.5rem;
        width: 9rem;
    }
}

@media only screen and (max-width:1120px){
    .header .menu .menu-ul li {
        margin-left: 1.5rem;
    }

    .header .menu .menu-ul > li > a{
        font-size: 1.08rem !important;
    }

    .dropdown-ul li a {
        padding: 3px 0px;
        font-size: 1rem !important;
    }

    .dropdown-ul{
        padding: 0.6rem 0.8rem;
        left: -0.8rem;
        width: 8rem;
    }

    .about-page , .contact-page{
        width: 100%;
    }
}

@media only screen and (max-width:768px){

    .fix-footerhome {
        width: 100%;
        position: relative;
    }

    .footer-txt {
        padding: 2rem 0;
    }

    #gotodetail{
        display: block;
    }

    .button {
        width: 16%;
    }

    .backToTop {
        visibility: visible;
        opacity: 1;
    }

    body{
        background-color: #f5f5fa !important;
    }
}

@media only screen and (max-width:650px){
    .button {
        width: 19%;
    }
}

@media only screen and (max-width:600px){
    .display-none{
        display: none;
    }
}

@media only screen and (max-width:520px){
    .header .menu .menu-ul li {
        margin-left: 0;
    }

    .header .menu .menu-ul > li > a {
        font-size: 1rem !important;
    }

    .dropdown-ul {
        left: -0.5rem;
        width: 7.2rem;
    }

    .menu-ul{
        padding-left: 0;
    }
}
